.button {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  background-size: 150% 100%;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: background 0.3s ease;
  font-family: "Work Sans", "Work Sans Fallback";
  font-weight: 600;
}

.button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-position: 100% 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
