.section {
  margin-top: 32px;
}

.year {
  font-weight: 700;
}

.list {
  list-style-type: none;
}

.link {
  color: var(--color-text);
  text-decoration: none;
}

.link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
